# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\React JS project files\final_term_lab_task\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
